<!-- <div class="home__container">
  <div class="home"> -->
<mat-toolbar class="home" color="">
  <h2>Bienvenidos a Icaro!</h2>
  <button mat-raised-button color="accent">Enviar Datos</button>
  <button mat-mini-fab color="primary">
    <mat-icon>
      <span class="material-icons-outlined"> add_shopping_cart </span>
    </mat-icon>
  </button>
</mat-toolbar>

<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="avatar"></div>
    <mat-card-title> Soy un texto </mat-card-title>
    <mat-card-subtitle>Aqui va el nombre</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://assets.survivalinternational.org/pictures/489/4116455578-1f8d781f66-b_screen.jpg"
    alt=""
  />
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga natus
      necessitatibus qui molestias asperiores iusto cupiditate, sapiente,
      consequuntur pariatur ea recusandae eius consequatur nemo quasi odio
      eligendi incidunt hic ducimus?
    </p>
  </mat-card-content>
  <!-- <br /> -->
  <mat-divider [inset]="true"></mat-divider>
  <!-- <br /> -->
  <mat-card-actions>
    <!-- <p>Enviar a la base?</p> -->
    <!-- <div> -->
    <button mat-flat-button color="warn">Ok</button>
    <button mat-flat-button color="accent">Cancelar</button>
    <!-- </div> -->
  </mat-card-actions>
  <!-- </div>
</div> -->
</mat-card>
